<div id="overlay"></div>
<div class="cont-contactBtn">
  <div class="cont-flip">
    <div class="front">
      <a href="#" class="btn btn-white flip">Send Message</a>
    </div>
    <div class="back">
      <a href="#" class="flip close"></a>
      <%= form_for @message, url: create_message_url, html: { class: 'contact-form' } do |f| %>
        <%= notice %>
        <%= @message.errors.full_messages.join(', ') %>
        <%= f.text_field :name, placeholder: 'name', class: 'gutter frm' %>
        <%= f.text_field :company, placeholder: 'company', class: 'frm' %>
        <%= f.email_field :email, placeholder: 'email', class: 'gutter frm' %>
        <%= f.telephone_field :telephone, placeholder: 'telephone', class: 'frm' %>
        <%= f.text_area :body, placeholder: 'Leave a message', class: 'txt-frm' %>
        <%= f.submit 'Send' %>
      <% end %>
    </div>
  </div>
</div>
