<div id="overlay"></div>
<div class="container-fluid bg-img">
  <div class="row">
    <div class="hero col-10 col-md-8 col-lg-5">
      <div id="inner-hero">
        <div class="col-12 hero-text text-top">table fare</div>
          <div class="col-12 hero-icons">
            <i class="hero-icon"><%= image_tag('beet.png') %></i>
            <i class="hero-icon"><%= image_tag('forks.png') %></i>
            <i class="hero-icon"><%= image_tag('wheat.png') %></i>
          </div>
        <div class="col-12 hero-text text-btm">dining cards</div>
      </div>
    </div>
  </div>
</div>
<div id="about", class="container-fluid col-10 col-lg-7 about-tf">
  <h2 class="tf-header">what is table fare?</h2>
  <p class="tf-text">
    We are The Triangle's dining guide destination with savings to boot! We've curated a diverse group of locally owned restaurants, at different price points, that we feel are some of the "coolest" spots around town. We only include establishments that share a couple things in common - amazing food &amp; unique environments that bring their passion and excitement to our cities. Our hope is that these cards allow you to try new places, explore new cuisines and save you some cash along the way. Who hasn't spent way too much time deciding which restaurant to try next?  With Table Fare, your next foodie adventure is right at your fingertips.<br/><br/>

    Our 2018-2019 deck contains 36 cards. Each card contains the description and information for that restaurant and is good for a $5 or $10 savings, depending on their price point. You just include the card when you pay and voila, savings complete! <span id="about-tf-end">Each pack of cards is only $30 so it pays for itself after only 3 visits. </span>Now, who doesn't go out to eat at least three times a year?!<br/><br/>
    <span id="about-tf-last">Here's to saving money, supporting local businesses and making memories around the dinner table!</span>
  </p>
</div>
<div class="container-fluid col-8 col-lg-4 hr-img">
  <i><%= image_tag('laurels4.png') %></i>
</div>
<div class="container-fluid col-10 col-lg-7 included-tf">
  <h2 class="tf-header">2018-2019 restaurants: </h2>
  <p class="tf-text">
    Selections Coming Soon...
  </p>
</div>
<%= render 'subscribers/index' %>
<%= render 'layouts/footer' %>